{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Screen</title>
    <link rel="stylesheet" href="{% static 'games/css/style.css' %}">
</head>
<body>
    <h1>Choose a Game</h1>
    <div class="game-options">
        <a href="/stats/League_of_legends/"><button>League of Legends</button></a>
        <a href="/stats/Valorant/"><button>Valorant</button></a>
        <a href="/stats/tft/"><button>TFT</button></a>
    </div>
    <script src="{% static 'games/js/main.js' %}"></script>
</body>
</html>