
*.pyc
*.pyo
*.pyd
__pycache__/

*.env       # Si tienes archivos de entorno
venv/       # Si usas un entorno virtual
/static/    # Archivos estáticos generados
/media/     # Archivos subidos por los usuarios